In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# establish a connection to the MySQL database

# engine = create_engine('mysql+mysqldb://DATABASE_USERNAME:DATABASE_PASSWORD@DATABASE_HOST/DATABASE_NAME')
# DATABASE_USERNAME: lontoklm_dba
    # created in lmu.build when making our first database
    # format: LMU_BUILD_USERNAME_dba
# DATABASE_PASSWORD: lmumba630!
    # same for everyone
# DATABASE_HOST: lontok.lmu.build
    # your lmu.build Primary Domain
# DATABASE_NAME: lontoklm_bi_test_01
    # format: LMU_BUILD_USERNAME_bi_test_01

engine = create_engine('mysql+mysqldb://lontoklm_dba:lmumba630!@lontok.lmu.build/lontoklm_bi_test_01')

In [11]:
# assign the SQL statement to a variable
# use triple quotes to enclose multi-line variable values
sql = '''
SELECT customers.CustomerID, order_info.OrderID, products.ProductID, products.ProductName, suppliers.SupplierName
FROM customers
	JOIN order_info
    ON customers.CustomerID = order_info.customerID
    JOIN products
    ON products.ProductID = order_info.ProductID
    JOIN suppliers
    ON products.SupplierID = suppliers.SupplierID
WHERE suppliers.Country = 'USA'
'''

In [5]:
# execute the SQL against the database connection established in the engine variable
# assign the SQL results to a DataFrame
order_detail_df = pd.read_sql(sql, engine)

In [13]:
# confirm results
order_detail_df.head()

,CustomerID,OrderID,ProductID,ProductName,SupplierName
0,34,10250,65,Louisiana Fiery Hot Pepper Sauce,New Orleans Cajun Delights
1,84,10251,65,Louisiana Fiery Hot Pepper Sauce,New Orleans Cajun Delights
2,61,10261,35,Steeleye Stout,Bigfoot Breweries
3,24,10264,41,Jack's New England Clam Chowder,New England Seafood Cannery
4,69,10281,35,Steeleye Stout,Bigfoot Breweries

In [14]:
# write the DataFrame to a csv file
# drop the index column
order_detail_df.to_csv('order_detail_usa_supplier.csv', index=False)